RewriteEngine On
# Query String Append Last
RewriteRule ^admin appBackEnd.php [QSA,L]
RewriteRule ^$ app.php [L]
RewriteRule ^([a-z]+)$ app.php?module=$1 [L]
RewriteRule ^([a-z-]+)/([a-z-]+)$ app.php?module=$1&action=$2 [L]
RewriteRule ^([a-z-]+)/([a-z-]+)/([a-z0-9-]+)-([0-9]+)$ app.php?module=$1&action=$2&id=$4 [L]
